<!DOCTYPE html>
<html>
    <body>
        <form action="http://127.0.0.1:5000/STM" method="post">
            <input type="submit" value="Calculate(STM)" name="statmodel">
            <input type="text" placeholder="Enter Query" name="nm"> 
        </form>
        <form action="http://127.0.0.1:5000/VSM" method="post">
            <input type="submit" value="Calculate(VSM)" name="vectormodel">
            <input type="text" placeholder="Enter Query" name="nm">
        </form>
        <form action="http://127.0.0.1:5000/filesgeneration">
            <input type="submit" value="Generate" name="generate">
        </form>
    </body>
</html>